Source: ptvsd
Maintainer: David Lechner <david@lechnology.com>
Section: python
Priority: optional
Build-Depends: python-all-dev,
           python-setuptools,
	       python3-all-dev,
	       python3-setuptools,
	       debhelper (>= 9),
	       dh-python
Standards-Version: 3.9.6
Homepage: https://microsoft.github.io/PTVS/

Package: python-ptvsd
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, ${shlibs:Depends}
Description: Python Tools for Visual Studio remote debugging server
 PTVS is a free, open source plugin that turns Visual Studio into a Python IDE.
 .
 It supports CPython, IronPython, editing, browsing, IntelliSense, mixed
 Python/C++ debugging, remote Linux/MacOS debugging, profiling, IPython, and
 web development with Django and other frameworks.
 .
 Designed, developed, and supported by Microsoft and the community.

Package: python3-ptvsd
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}, ${shlibs:Depends}
Description: Python Tools for Visual Studio remote debugging server
 PTVS is a free, open source plugin that turns Visual Studio into a Python IDE.
 .
 It supports CPython, IronPython, editing, browsing, IntelliSense, mixed
 Python/C++ debugging, remote Linux/MacOS debugging, profiling, IPython, and
 web development with Django and other frameworks.
 .
 Designed, developed, and supported by Microsoft and the community.
